<ion-content overflow-scroll="true">
  <div class="row">
    <div class="col col-33 col-offset-33">
      <img src="img/login.png" class="imageTitle">
    </div>
  </div>
  <div class="list" ng-show="!newUser">
    <form ng-submit="login(user)" novalidate>
      <label class="item item-input">
        <input type="text" placeholder="Email    CPE" ng-model="user.pseudo">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.mdp">
      </label>
      <label class="item item-button firstCase">
        <button class="button button-block button-positive" type="submit">
          Connexion
        </button>
      </label>
    </form>
  </div>

  <div class="list" ng-show="newUser">

    <form ng-submit="signup(user)" novalidate
          ng-model-options="{updateOn: 'default blur', debounce: {'default': 200, 'blur': 0}}">
      <label class="item item-input item-stacked-label firstCase">
        <input type="text" placeholder="Prénom" ng-model="user.firstName">
      </label>
      <label class="item item-input input-block item-stacked-label firstCase">
        <input type="text" placeholder="Nom" ng-model="user.lastName">
      </label>
      <label class="item item-input item-stacked-label firstCase">
        <input type="text" placeholder="Email CPE" ng-model="user.email">
      </label>
      <div class="text-danger" ng-show="form.email.$error.email">This is not a valid email.</div>
      <label class="item item-input input-block item-stacked-label firstCase">
        <input type="password" placeholder="Mot de passe" ng-model="user.mdp">
      </label>
      <label class="item item-input input-block item-stacked-label firstCase">
        <input type="password" placeholder="Confirmation du mot de passe" ng-model="user.mdp2">
      </label>
      <div class="form-group">
        Filière :
        <label for="CGP"> CGP</label>
        <input type="radio" name="filiere" id="CGP" value="CGP" ng-model="user.filiere">
        <label for="ETI"> ETI</label>
        <input type="radio" name="filiere" id="ETI" value="ETI" ng-model="user.filiere">
        <label for="IRC"> IRC</label>
        <input type="radio" name="filiere" id="IRC" value="IRC" ng-model="user.filiere">
      </div>
      <div class="form-group">
        Année :
        <label for="3">3</label>
        <input type="radio" name="annee" id="3" value="3" ng-model="user.annee">
        <label for="4">4</label>
        <input type="radio" name="annee" id="4" value="4" ng-model="user.annee">
        <label for="5">5</label>
        <input type="radio" name="annee" id="5" value="5" ng-model="user.annee">
        <label for="0">Plus</label>
        <input type="radio" name="annee" id="0" value="0" ng-model="user.annee">
      </div>
      <label class=" item-button firstCase">
        <button class="button button-block button-balanced" type="submit">
          Créer un compte
        </button>
      </label>
    </form>
  </div>

  <div class="row">
    <div class="col col-50" ng-show="!newUser">
    <button ng-click="newUser = true" class="button button-block button-positive">Inscription</button>
    </div>

    <div class="col col-50" ng-show="newUser">
    <button ng-click="newUser = false" class="button button-block button-positive">Connexion</button>
    </div>

    <div class="col col-50">
    <button ng-click="goToResetPassword()" class="button button-block button-assertive">Mot de passe oublié?</button>
    </div>

  </div>
</ion-content>
